.form-label {
    margin-bottom: 2px;
}
form .error {
    border: 2px solid #EC5A5A;
}
form .error-msg {   
    color: #EC5A5A;
    font-size: 16px;
}
.required{
    color: #EC5A5A;
    font-size: 16px;
}
/* placeholder */
input::placeholder,
textarea::placeholder {
  color: #c7c7c7 !important;
}
/** main container for stick-footer 72 + 42 **/
#main{
    min-height:calc(100vh - 114px); 
}
/***/
.text-muted {
    color: #c7c9cb !important;
}
.vr {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    height: 2em;
    background-color: rgb(190 192 193);
    opacity: .5;
    margin: 30px 10px;
    vertical-align: middle;
}
/***navbar***/
header .header-top-bar {
    position:inherit;
    top: 0;
    right: 0;
    width: 100%;
    left: 0;
    z-index:inherit;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
header .navbar {
    position: inherit;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
.stickyHeader{
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
.navBg{
    background: #eee;   
}
.navBg a{   
    color: #000 !important;    
}
header.sticky.sticky-active [data-header-hover=light] .icon > a,
header.sticky.sticky-active [data-header-hover=light] .icon .dropdown > a {
    color: var(--dark-gray);
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li a {
    font-size: 15px;
    line-height: 26px;
    border-bottom: 1px solid rgba(23, 23, 23, 0.1);
    padding: 10px 20px;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu {
    border-radius:0;
    padding: 0;
    overflow: hidden;
    width: 260px;
}
.navbar .navbar-nav .dropdown .dropdown-menu {
    margin: 0;
    padding: 60px 0 65px;
    border: 0;
    top: 100%;
    background-color:  #eee;
    box-shadow: 0 45px 45px 0 rgba(0, 0, 0, 0.05);
    -webkit-animation: hide-animation 0.5s;
    animation: hide-animation 0.5s;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li a {
    font-size: 16px;
    line-height: 26px;
    border-bottom: 1px solid rgba(23, 23, 23, 0.1);
    padding: 10px 20px;
}
.header-account-icon .header-account .account-item-list {
    display: none;
    left: auto;
    right: 0;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0;
    background-color: var(--white);
    border: 0;
    padding: 25px 0;
    /* min-width: 200px; */
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.header-account-icon .header-account .account-item-list .account-item {
    display: inline-block;
    padding: 0 25px 12px 25px;
    width: 100%;
    position: relative;
    font-size: 17px;
    font-weight: 400;
}
header.sticky.sticky-active [data-header-hover=light] {
    background-color: var(--white) !important;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
}


/****/
@media (min-width: 576px) {
    .d-sm-none {
        display:inherit !important;
    } 
}
@media (max-width:768px) {   
    .d-none {
        display: none !important;
    }   
    .sticky-header{
        position: fixed !important;
        top: 0;
        right: 0;
        left: 0;
        z-index: 99;
    }       
}

#country-menu-01 img{
    width:25px;
}
.scroll-progress {
    position: fixed;
    right: 20px;
    z-index: 111;
    top: 80%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    mix-blend-mode: difference;
}
.small-screen {
    height: 250px !important;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 10px 0;
    background-color: #eec;
    min-height: 30px;
  }
  
  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    line-height:inherit

  }
  
  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }

    header .navbar-brand img {
        max-height: 32px !important;
    }
  }
  /******/
.page-title-extra-small h2 {
    font-size: 2.25rem;
    line-height: 3rem;
}
input, 
select, 
textarea, 
.form-control, 
.form-select{
    padding: 10px 10px;
    width: 100%;
    max-width: 100%;
    resize: none;
    outline: none;
    font-size: 16px;
    border: 1px solid #ced4da !important;
    border-radius: 0% !important;;
    color: var(--medium-gray);
    line-height: inherit;
    word-break: normal;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
input[type='checkbox'] { 
    padding: 10px;
}
.btn.btn-rounded.btn-rounded {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/*** contact ***/
.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
    /* padding: 20px 0 30px 0; */
    padding: 10px;
}
.contact .info-box i {
    font-size: 32px;
    color: var(--color);
    border-radius: 50%;
    padding: 8px;
    border: 6px dotted #b3d1fa;
    width: 60px;
    height: 60px;
}
.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 5px 0;
}
.contact .info-box p {
    padding: 0;
    margin-bottom: 0;
}

 
/** documents **/
.steps a, 
.steps button{
    margin: 2px;;
}
.steps a:hover, 
.steps button:hover{
    background: #f8f9fa !important;
}
.steps .btn-very-small{
    font-size: 15px;
}
.progress-bar-style-03{
    margin-left: auto !important;
    margin-right: auto !important;
}
.horizontal{
    display: inline-table; 
}
.vertical{
    display: block; 
}
#documentForm .label_text{
    display: block;
    font-size: 30px;
    font-weight: bold; 
    margin-bottom: 25px;    
}
#documentForm .question{
    display: block;
    font-size: 24px;
}
.q-margin{
    margin-top: 30px;
}
#documentForm .radio{
    position: relative;
    padding-left: 0px;    
    margin: 15px 15px 15px 0px;  
}
#documentForm .radio:first-child{   
    /* margin: 10px !important;    */
    margin: 0px 10px 10px 0 !important;
}
#documentForm .radio label{    
    cursor: pointer;
    text-align: center;
    padding: 15px;
    border: 5px solid #e6e2e2;
}
#documentForm .radio label p{
   font-size: 18px;
   font-weight: 500;
   margin-bottom:0;   
}
#documentForm .checkbox label{  
    padding: 0px 5px;
}
#documentForm .radio label.checked,
#documentForm .radio input[type="radio"]:checked+label{   
    border: 5px solid #1769ff;
}
.form-check-input[type=radio] {
    border-radius: 50% !important;
    border: 1px solid #444 !important;
}
.radio-group-row .form-check .form-check-input {
    float: inherit;
    margin-left:inherit;
}
.contractPreview{
    /* width: 970px; */
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.contractPreview .contract{
    border: 1px solid #808285;
    height: 600px;
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 0px 1px #808285;   
    text-align: left;
    color: #000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    overflow-x: hidden;
}


/*** faq ****/
.documentfaq h6{
    font-size: 24px;
    line-height: 28px;
    color: #6e7982;
}
.documentfaq .question{
    font-size: 18px;
    line-height: 20px;
    color: #62676b;
}
.documentfaq .answer{
    font-size: 14px;
    line-height: 24px;
    color: #a0a3a5;
}

.pricing-table{
    padding: 40px 25px;
    background: #e7e2e2;
}
.my-account-navbar a{
    font-size: 16px !important;
    background: rgb(108 117 125) !important;    
    color: #fff!important;
    margin-right: 7px;
}
.my-account-navbar a:hover,
.my-account-navbar a.present{ 
    background: rgb(13 110 253)!important;    
}

/*** Buttons **/
.btn1{
    font-size: 12px !important;
    background: rgb(108 117 125) !important;
    color: #fff !important;
    margin: 2px;
    padding: 2px 10px;
    border-radius: 0
}

header .navbar [class*=col-] {
    /* padding: 0 6px; */
    padding: 0 0px;
}
.search-form-wrapper .search-form .search-button {    
    right: 5px;    
}
.alphabet{ font-size: 25px; font-weight: bold; margin: 10px; cursor: pointer;}
.alphabet.dark{ color: #000;}
.alphabet-ul{
    padding-left: 10px;
}
.radio-img{ height: 100px !important; width:auto !important;}
.dropdown-img{ height: auto !important; width:100px !important;}
.disabled{
     border : 3px solid #fff
}
/**** nprogress [start] *****/
/*
#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: #29d;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;  
}
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d,0 0 5px #29d;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0,-4px);
    -ms-transform: rotate(3deg) translate(0,-4px);
    transform: rotate(3deg) translate(0,-4px);
}
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}
#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;     
}
.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}
.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
    position: absolute;
}
@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
*/
/**** nprogress [ends] *****/

/* Added by A.Roy [start] */
.markdown-preview {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /*  max-width: 800px; */
    margin: auto;
    padding: 20px;
}
.markdown-preview h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0; 
}
.markdown-preview h2 {
    font-size: 1.5em;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.markdown-preview p {
    margin-top: 5px;
    margin-bottom: 1px;
    padding-top: 5px;
    padding-bottom: 1px;
}
/* Added by A.Roy [ends] */